.main-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background: url('/admin/Assets/img/firewatch-min.jpg') repeat 50% 50%;
}
.bg-navbar {
    background-color: #cccccc4a;
}

.bloc {
    background-color: #ffffff;
    padding: 0 40px 20px;
    margin: 20px 0px;
}

.nav-tabs {
    border-bottom: 6px solid #DED;
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/*  bhoechie tab */
div.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 7px;
    -moz-border-radius: 4px;
    border: 2px solid #ddd;
    margin: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 25px 37px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-content{
    background-color: #ffffff;
    padding: 15px 0px 15px;
}

.right-toolbar{
    width: 200px;
    text-align: right;
}

.page-title{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.page-title h3{}

.setting-tabs {
    padding-bottom: 22px;
}

.heading-setting-section {}
.heading-setting-section a.btn {
    float: right;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
.edit-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.edit-menu li {
    border: 1px solid #ddd;
    margin-bottom: 8px;
    padding-left: 12px;
}
.edit-menu li input{
    outline: 0;
    border: 0;
    padding: 10px 14px;
    height: 100%;
    vertical-align: middle;
}
.edit-menu {}

.menu-item-event {
    display: inline-block;
    float: right;
    height: 38px;
    padding: 5px 12px;
    vertical-align: middle;
}
.menu-item-event i.icon-cursor-move{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    text-align: center;
    line-height: 29px;
    cursor: move;
}
.menu-item-event {}

.empty-items {
    padding: 25px 0px;
    margin-top: 22px;
}
.empty-items p {
    color: #afaeae;
}

.menu-list {
    margin-top: 25px;
    border: solid #f7f7f9;
}
.menu-list li{}
.menu-list li a{}
.menu-list li a.active{
    background: #f7f7f9;
    color: black;
}

.add-item-button {}
.add-item-button:hover{}

.button-remove {
    background: #ffffff;
    color: #ff5e5e;
    border: 0;
    cursor: pointer;
}
.button-remove i{
    line-height: 28px;
}
.ico-home {
    background: url("/admin/Assets/img/b_home.png") no-repeat 10px 50%;
    padding-left: 30px;
}
.ico-page {
    background: url("/admin/Assets/img/b_browse.png") no-repeat 10px 50%;
    padding-left: 30px;
}

.ico-posts {
    background: url("/admin/Assets/img/b_edit.png") no-repeat 10px 50%;
    padding-left: 30px;
}

.ico-setting {
    background: url("/admin/Assets/img/b_opts.png") no-repeat 10px 50%;
    padding-left: 30px;
}

.ico-logout {
    background: url("/admin/Assets/img/b_loggoff.png") no-repeat 10px 50%;
    padding-left: 30px;
}

